/* Write your CSS here */
.todo-container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
.paragraph {
  color: black;
  font-size: 25px;
}
.button {
  height: 50px;
  width: 100px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #ff0b37;
  color: #ff0b37;
  font-size: 20px;
  margin: 10px;
}
